.body {
	background-color: #FA8072;
}

.s_body {
	margin: 25px  50px 0 39px;
	background-color: #ffffff;
}

.header {
	display: inline;
}

.contacts {
	width: 500px;
	height: 25px;
	margin-right: 100px;
	border-radius: 5px;
}

.contacts img {
	margin-left: 10px;
}

.contacts span {
	font-size: 15px;
	margin-top: 5px;
	color: #444141;
}

.registration li {
	width: 600px;
	height: 30px;
	display: inline;
	border-radius: 5px;
	background: linear-gradient(to bottom, #206988, #0c3256);
}


.line {
	margin-top: 3px;
	margin-right: 35px;
	width: 1px;
	height: 29px;
	background-color: #56a2dc;
}