
body {    background-image: url(../img/fon_1.png);
    font: 14px 'Verdana';
    position: relative;
}


.position {width: 1050px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px;
}

.hero {background-image: url (../img/t_1.png);
    width:400px;
    height: 174px;
}

.contacts {
    font-family: 'Tahoma Regular', sans-serif;
    font-size: 12px;
    top:10px;
    right: 180px;
    float: right;
    position: absolute;
    line-height: 10px;
    color: #87CEEB;
}

.countries {position: absolute;
    float: right;
    right: 178px;
    top: 95px;
    font-size: 12px;
}


.countries ul li {display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-right: 8px;
}

.countries ul li > a {color: #87CEEB;
}

.sea img {width: 1050px;
}

/*======================menu========*/
.menu {
    width: 1050px;
    height: 30px;
    border-bottom: 1px solid black;
    position: relative;
    background: #323232;
    z-index: 2;
}
.menu li {
    float: left;
    text-align: center;
    display: block;
    position: relative;
    width: 131px;

}
.menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.menu a:hover {
    color: yellow;
}

/*=====================ВЫПАДАЮЩЕЕ МЕНЮ==========*/

.menu li a {
    display: block;
    padding-top: 5px;
    background: #323232;
    height: 25px;
    border-bottom: 1px solid white;
    -webkit-transition: 0.8s linear-opacity;
    /*box-shadow: 0px 1px 3px black;*/

}

.menu ul {
    position: absolute;
    display: block;
    opacity: 0;
    left: -9999px;

}

.menu li:hover ul {
    left: 0;
    opacity: 1;

}
/*==============контент============*/
.fonColumn {
    width: 650px;
    overflow: hidden; 
}
.leftColumn {float: left;
    width: 220px;
    height: 538px;
    margin-top: 0;
    background-color:#DCDCDC;}

.leftColumn h3 {
    margin: 15px;
    font-weight: bold;
}

.leftColumn p {
    margin: 15px;
}

.centerColumn {float: left;
    background-color: white;
    width: 610px;
    height: 538px;
    text-align: uppercase;
   
}

.centerColumn h3 {
    margin: 15px;
    font-weight: bold;
}

.centerColumn p {
    margin: 15px;
}

.rightColumn {
    float: right;
    width: 220px;
    height: 553px;
    margin: -15px 0px 0px 0px;
    background-color: #DCDCDC;

}

.rightColumn h3 {
    margin: 15px;
    font-weight: bold;
}

.rightColumn p {
    margin: 15px;
}

.footer {color: white;
    text-align: center;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    clear: both; 
}



