body {
   background-color: #FFFFFF;
   font-family: Courier; "Corier new", sans-serif;
   position: relative;
   color:#000000;
   padding: 10px;
}

.menu {
 width: auto; 
}
.menu ul {
   height: 40px
    position: relative;
    background-color: #228B22;
    padding: 10px ; 

   }

.menu li {
list-style: none;
    display: inline-block;
    border-width: 4px 1px;
    border-width:thin thick;
    border-width:3px 3px 3px 3px;
}

.side {width: 140px;
       background-color: #90EE90;
}


.side ul {
    list-style-type: none;
    position: relative;
    padding: 10px;

}

.side li {
list-style: none;
}

.side a {width: 40px;
}

.picture {
position:  right bottom; 
background-repeat: no-repeat; 
}


.menu2 {
 width: auto; 
}

.menu2 ul {
    list-style-type: none;
    background-color: #90EE90;
    position: relative;
    margin-left: 0; 
    padding: 10px;
}

.menu2 li {
    display: inline-block;
}